body {
    background-color: teal;
    margin: 0;
    font-family: sans-serif;
}

#main-wrapper {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: thistle;
    border: black 10px;
}

h2 {
    padding: 15px;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    background-color: lightblue;
    position: sticky;
    top: 0;
}

#menu a {
    background-color: lightblue;
    text-decoration: none;
    color: blue;
    padding: 15px 20px;
}

#menu a:hover {
    color: red;
}
