body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#main-wrapper {
    max-width: 800px;
    min-height: 100vh;
    background-color: grey;
    margin: auto;
    padding: 20px;
}

h1 {
    margin: 0;
    color: white;
}

h2 {
    color: white;
}

#menu {
    background-color: #c4c4c4;
    display: flex;
    justify-content: right;
    margin: 2px -20px;
}

#menu a {
    color: blue;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-left: 2px solid black;
    text-transform: uppercase;
}

#menu a:hover {
    background-color: rgb(167, 167, 167);
}

#header {
}

#main1 {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#main2 {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

p {
    background-color: beige;
    color: grey;
    padding: 15px;
    border-radius: 10px;
}
